extends layout

block content
	h1 Products
	hr 
	.row 
		h2= title

		a(href='/addproduct')
			button.btn.btn.btn-primary(type='submit')
				i.fa.fa-plus
				| Add Product
		
		ul.list-unstyled
			each product, index in products
				li 
					.col-sm-3
						h4= product.name 
						p= product.price
						form.form-horizontal(action='/borrowProduct', method='POST')
							input(type='hidden', name='pid', value=product.productid_id)
							input(type='hidden', name='_csrf', value=_csrf)
							.form-group
								button.btn.btn.btn-primary(type='submit')
									i.fa.fa-shopping-cart
									| Borrow Product